<div
  class="container flex items-center justify-between max-w-4xl px-3 mx-auto mt-10 md:items-start xl:items-center md:flex-col xl:flex-row md:mt-24 lg:max-w-5xl xl:max-w-7xl gap-9"
>
  {{ partial "components/logo.html" . }}
  <div
    class="fixed top-0 bottom-0 right-0 z-50 block w-auto h-screen max-w-full overflow-x-hidden overflow-y-scroll md:w-full md:overflow-x-scroll bg-slate-700/50 dark:bg-slate-700/50 md:h-auto md:static backdrop-blur-xl md:bg-slate-700 mobile-nav"
    data-visible="false"
  >
    <div
      class="flex flex-col justify-between h-full pb-12 pt-28 md:pb-0 md:pt-0"
    >
      <div
        class="flex flex-col items-start gap-0 md:gap-0 md:flex-row px-7 md:mb-0 md:mt-0"
      >
        {{ range $.Site.Menus.main }}
        <a
          class="px-0 my-2 text-2xl font-semibold uppercase md:my-0 md:py-4 md:px-6 md:text-sm text-slate-50 md:hover:bg-sky-500 shrink-0 grow md:text-center"
          href="{{.URL}}"
          >{{ .Name }}</a
        >
        {{ end }}
      </div>

      <div class="flex justify-start md:hidden px-7">
        {{ partial "components/logo-small-white.html" . }}
      </div>
    </div>
  </div>

  <button
    class="top-6 md:hidden nav-toggle z-[60] right-3"
    aria-expanded="false"
    aria-label="Toggle the Menu"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="w-7 h-7 open-menu"
    >
      <path
        fill-rule="evenodd"
        d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
        clip-rule="evenodd"
        class="fill-slate-900 dark:fill-slate-100"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="fill-slate-900 w-7 h-7 close-menu"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
        class="stroke-slate-100"
      />
    </svg>
  </button>
</div>
