.mobile-nav[data-visible="true"] {
  transform: scale(1);
  transform: translateX(0);
}

.mobile-nav {
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .mobile-nav {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}

.mobile-nav[data-visible="false"] {
  transform: scale(1);
  transform: translateX(100%);
}

.nav-toggle[aria-expanded="true"] .open-menu {
  display: none;
  position: fixed;
  right: 16px;
  top: 32px;
}

.nav-toggle[aria-expanded="false"] .close-menu {
  display: none;
  position: static;
}

/*
body[aria-menuOpenend="false"] {
  overflow-y: scroll;
}

body[aria-menuOpenend="true"] {
  overflow-y: hidden;
}*/
