<a
  class="flex flex-row max-w-md gap-4 news-article-small"
  href="{{.Permalink}}"
>
  <div class="z-10 w-36 h-24 grow shrink-0 overflow-hidden">
    {{- $image := resources.Get .Params.featureimg -}} {{ with $image }}
    <img
      class="object-cover w-full h-full news-image-small"
      src='{{ ($image.Fill "200x150 q80 Center").RelPermalink }}'
      alt="{{.Params.imageDescription}}"
    />
    {{ end }}
  </div>
  <div class="flex flex-col gap-1 items-start w-auto max-w-[250px] shrink">
    <h5>{{.Title}}</h5>
    <div class="flex gap-1 items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5"
      >
        <path
          fill-rule="evenodd"
          d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
          clip-rule="evenodd"
        />
      </svg>
      <span class="text-sm font-normal uppercase"
        >{{.Params.Date.Format "January 2, 2006"}}</span
      >
    </div>
  </div>
</a>
