<a
  class="flex flex-row max-w-md gap-4 news-article-small"
  href="{{.Permalink}}"
>
  <div class="z-10 h-auto overflow-hidden w-28 grow shrink-0">
    <!-- prettier-ignore -->
    {{- $image := resources.Get .Params.featureimg -}} {{ with $image }}
    <img
      class="object-cover w-full h-full news-image-small"
      src='{{ ($image.Fill "200x150 q80 Center").RelPermalink }}'
      alt="{{.Params.imageDescription}}"
    />
    {{ end }}
  </div>
  <div class="flex flex-col gap-1 items-start w-auto max-w-[250px] shrink">
    <h5>{{.Title | truncate 40}}</h5>
  </div>
</a>
