<!-- prettier-ignore -->
{{ $image := resources.GetMatch .Destination }}
{{ if gt $image.Width 900 }}
    {{ $image = $image.Resize "900x" }}
{{ end }}
<figure class="flex flex-col items-start justify-center">
  <img
    src="{{ $image.RelPermalink | safeURL }}"
    class="lazyload"
    {{
    with
    .Text
    }}
    alt="{{ . }}"
    {{
    end
    }}
    {{
    with
    .Title
    }}
    title="{{ . }}"
    {{
    end
    }}
  />
  {{ with .Title}}
  <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>
