{{ define "main" }}
<div class="flex gap-12">
  <div class="md:basis-3/4">
    <div class="flex flex-col gap-2 mb-8">
      <h1 class="text-5xl font-bold">{{.Title}}</h1>
      <span class="text-xl font-normal">By {{.Params.Author}}</span>
      <div class="flex gap-2">
        <span class="text-sm font-bold uppercase"
          >{{.Params.Date.Format "January 2, 2006"}}</span
        >
        <div class="flex items-center gap-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
          <span
            >{{ .ReadingTime }} minute{{ if (ne .ReadingTime 1) }}s{{ end
            }}</span
          >
        </div>
      </div>
      <div class="flex flex-wrap justify-start max-w-md gap-2">
        {{ range (first 15 $.Site.Taxonomies.tags.ByCount) }}

        <a
          class="p-2 text-sm rounded-md bg-slate-200"
          href="/tags/{{ .Name | urlize }}"
          >{{ .Name | humanize }}</a
        >

        {{ end }}
      </div>
      {{ partial "blog-page/share-btns.html" . }}
    </div>
    <div class="z-10 w-full max-h-2xl">
      {{- $image := resources.Get .Params.featureimg -}} {{ with $image }}
      <img
        class="object-cover w-full h-full news-grid-image"
        src='{{ ($image.Fill "1500x1000 q80 Center").RelPermalink }}'
        alt="{{.Params.imageDescription}}"
      />
      {{ end }}
    </div>
    <article class="prose lg:prose-xl my-7">{{.Content}}</article>
  </div>
  {{ partial "components/blog-sidebar.html" . }}
</div>

<div class="pt-8">
  {{ $related := .Site.RegularPages.Related . | first 3 }} {{ with $related }}
  <h3 class="pt-8 mb-4 border-t-2 border-slate-200">
    Articles you might also like
  </h3>
  <div class="flex flex-wrap gap-4">
    {{ range . }} {{ partial "components/article-preview-big.html" . }} {{ end
    }}
  </div>
  {{ end }}
</div>

{{ end }}
