<div
  class="flex h-[600px] max-w-5xl lg:max-w-7xl flex-grow flex-col gap-1 break-normal font-sans sm:h-96 sm:flex-row"
>
  <!-- LEFT BOX -->
  <!-- prettier-ignore -->
  {{- range (.Paginate ( where .Site.RegularPages "Section" "articles" | first 1)).Pages }}
  <a
    href="{{.Permalink}}"
    class="relative w-full overflow-hidden cursor-pointer basis-1/2 bg-slate-500 news-grid-article"
  >
    <div
      class="absolute z-30 flex flex-col items-start justify-end h-full px-6 py-3 text-white"
    >
      {{ partial "components/category-tag.html" . }}
      <h2 class="text-2xl font-medium tracking-tight md:text-3xl">
        {{.Title}}
      </h2>
    </div>

    <div class="absolute z-10 w-full h-full">
      {{- $image := resources.Get .Params.featureimg -}} {{ with $image }}
      <img
        class="object-cover w-full h-full news-grid-image"
        src='{{ ($image.Fill "1000x600 q80 Center").RelPermalink }}'
        alt="{{.Params.imageDescription}}"
      />
      {{ end }}
    </div>
    <div
      class="absolute bottom-0 z-20 w-full h-2/3 bg-gradient-to-t from-slate-900/80 to-slate-900/0"
    ></div>
  </a>
  {{end}}
  <!-- RIGHT BOXES -->
  <!-- prettier-ignore -->

  {{$SecondArticles := where .Site.RegularPages "Section" "articles"}}
  {{$SecondArticles := after 1 $SecondArticles}}

  <div
    class="flex flex-row flex-wrap gap-1 cursor-pointer basis-1/2 sm:flex-col sm:flex-nowrap"
  >
    {{range (first 2 $SecondArticles)}}
    <a
      href="{{.Permalink}}"
      class="relative w-full overflow-hidden h-1/2 bg-slate-300 news-grid-article"
    >
      <div
        class="absolute z-30 flex flex-col items-start justify-end h-full px-6 py-3 text-white"
      >
        {{ partial "components/category-tag.html" . }}
        <h3 class="text-xl font-bold tracking-tight md:text-2xl">{{.Title}}</h3>
      </div>
      <div class="absolute z-10 w-full h-full">
        {{- $image := resources.Get .Params.featureimg -}} {{ with $image }}
        <img
          class="object-cover w-full h-full news-grid-image"
          src='{{ ($image.Fill "1000x500 q80 Center").RelPermalink }}'
          alt="{{.Params.imageDescription}}"
        />
        {{ end }}
      </div>

      <div
        class="absolute bottom-0 z-20 w-full h-2/3 bg-gradient-to-t from-slate-900/80 to-slate-900/0"
      ></div>
    </a>
    {{end}}
  </div>
</div>
