<div
  class="flex h-[600px] max-w-5xl lg:max-w-7xl flex-grow flex-col gap-1 break-normal font-sans sm:h-96 sm:flex-row"
>
  <!-- LEFT BOX -->
  <!-- prettier-ignore -->
  {{- range (.Paginate ( where .Site.RegularPages "Section" "articles" | first 1)).Pages }}
  <a
    href="{{.Permalink}}"
    class="relative w-full basis-1/3 bg-slate-500 sm:basis-1/2 overflow-hidden cursor-pointer news-grid-article"
  >
    <div
      class="absolute z-30 flex h-full flex-col items-start justify-end py-3 px-6 text-white"
    >
      {{ partial "components/category-tag.html" . }}
      <h2 class="tracking-tight">{{.Title}}</h2>
    </div>

    <div class="absolute z-10 h-full w-full">
      {{- $image := resources.Get .Params.featureimg -}} {{ with $image }}
      <img
        class="object-cover w-full h-full news-grid-image"
        src='{{ ($image.Fill "1000x600 q80 Center").RelPermalink }}'
        alt="{{.Params.imageDescription}}"
      />
      {{ end }}
    </div>
    <div
      class="absolute bottom-0 z-20 h-1/2 w-full bg-gradient-to-t from-slate-900/50 to-slate-900/0"
    ></div>
  </a>
  {{end}}
  <!-- RIGHT BOXES -->
  <!-- prettier-ignore -->

  {{$SecondArticles := where .Site.RegularPages "Section" "articles"}}
  {{$SecondArticles := after 1 $SecondArticles}}

  <div
    class="flex basis-1/2 flex-row flex-wrap gap-1 sm:flex-col sm:flex-nowrap cursor-pointer"
  >
    {{range (first 2 $SecondArticles)}}
    <a
      href="{{.Permalink}}"
      class="relative h-1/2 w-full bg-slate-300 overflow-hidden news-grid-article"
    >
      <div
        class="absolute z-30 flex h-full flex-col items-start justify-end py-3 px-6 text-white"
      >
        {{ partial "components/category-tag.html" . }}
        <h3 class="tracking-tight">{{.Title}}</h3>
      </div>
      <div class="absolute z-10 h-full w-full">
        {{- $image := resources.Get .Params.featureimg -}} {{ with $image }}
        <img
          class="object-cover w-full h-full news-grid-image"
          src='{{ ($image.Fill "1000x500 q80 Center").RelPermalink }}'
          alt="{{.Params.imageDescription}}"
        />
        {{ end }}
      </div>

      <div
        class="absolute bottom-0 h-1/2 w-full bg-gradient-to-t from-slate-900/50 to-slate-900/0 z-20"
      ></div>
    </a>
    {{end}}
  </div>
</div>
